<%= render_headline "Hostgroups"  %>
The following host groups are currently configured:

<% if @hostgroups.length > 0 %>
	<ul>
		<% @hostgroups.each do |hostgroup| %>
			<li><%= link_to hostgroup.name, :action => "show", :id => hostgroup.id %></li>
		<% end %>
	</ul>
<% else %>
	<strong>No groups found</strong>
<% end %>

<div id="new-hostgroup">
	<% form_for :newGroup, :url => { :action => "create" } do |f| %>
		<%= f.label :name, "Name of new host group" %>
		<%= f.text_field :name %>
		<%= submit_tag "Add group" %>
	<% end %>
</div>
