<%= render_headline "Services" %>
Monitored services: <%= @service_count %>.

<% if admin_or_service_admin? %>
  Add a service <%= link_to "here", :action => "new" %>. You can manage service groups <%= link_to "here", :controller => "servicegroups", :action => "index" %>. <br/>  
  See all service comments <%= link_to "here", :action => "allcomments" %>.
<% end %>

<% unless @service_groups.blank? %>
  <% @service_groups.each do |group| %>
    <div class="service-group-headline centered-text">
      <h2><%= group.name %></h2>
    </div>

    <% unless group.services.blank? %>
	    <table class="services">
	    	<thead>
			    <tr class="doNotHighlightMe">
				    <th>Name</th>
				    <th>Host:Port</th>
				    <th>Protocol</th>
				    <th>Response</th>
				    <th>Last checked</th>
				    <th>Notification group</th>
				    <th>Linked to host</th>
	          <% if Node.count > 0 %>
	            <th>Node</th>
	          <% end %>
			    </tr>
			</thead>
			<tbody>
        <% group.services.each do |service| %>
          <%= render :partial => "servicerow", :locals => { :service => service } %>
        <% end %>
		</tbody>
      </table>
    <% else %>
      <div class="centered-text">
        <strong>No services in this group</strong>
      </div>
    <% end %>

  <% end %>
<% end %>

<% unless @services_without_group.blank? %>
  <div class="service-group-headline centered-text">
    <h2>Ungrouped services</h2>
  </div>
	<table class="services">
    <thead>
		  <tr class="doNotHighlightMe">
        <th>Name</th>
        <th>Host:Port</th>
        <th>Protocol</th>
        <th>Response</th>
        <th>Last checked</th>
        <th>Notification group</th>
        <th>Linked to host</th>
        <% if Node.count > 0 %>
          <th>Node</th>
        <% end %>
		  </tr>
    </thead>
    <tbody>
		  <% @services_without_group.each do |service| %>
        <%= render :partial => "servicerow", :locals => { :service => service } %>
		  <% end %>
    </tbody>
	</table>
<% end %>

<% if @service_count.blank? %>
  <p>
    <strong>No services defined</strong>
  </p>
<% end %>
