<%= render_headline "Services" %>
Monitored services: <%= @serviceCount %>.

<% if admin? %>
Add a service <%= link_to "here", :action => "new" %>
<% end %>

<% if @serviceCount > 0 %>
	<table id="services">
		<tr class="doNotHighlightMe">
			<th>Name</th>
			<th>Host:Port</th>
			<th>Protocol</th>
			<th>Response</th>
			<th>Last checked</th>
			<th>Notification group</th>
			<th>Linked to host</th>
		</tr>
		<% @services.each do |service| %>
		<tr class="sensor-<%= getErrorStyle service.state %>">
			<td><%= link_to service.name, { :action => "show", :id => service.id }, :class => "link-normal" %></td>
			<td><%=h service.host %>:<%=h service.port %></td>
			<% if service.service_type == "none" %>
				<td>None</td>
			<% else %>
				<td><%=h service.service_type.upcase %></td>
			<% end %>
			<% if !service.responsetime.blank? %>
        <% if !service.state.blank? && service.state != 0 %>
  				<td><%=h service.responsetime %> ms</td>
        <% else %>
  				<td>N/A</td>
        <% end %>
      <% else %>
				<td>Unknown</td>
			<% end %>
			<% if service.lastcheck == 0 %>
				<td>Never</td>
			<% else %>
				<td><%= distance_of_time_in_words(Time.at(service.lastcheck), Time.now, true)  %> ago</td>
			<% end %>
			<td><%= getNameOfWarningGroup service.warninggroup %></td>
			<td><%= getNameOfHost service.linkedhost %></td>
		</tr>
		<% end %>
	</table>
<% else %>
	<p>
		No services defined. 
	</p>
<% end %>
