<h1>Add service</h1>

<%= javascript_include_tag "scopeport-forms" %>

<script type="text/javascript">
  <%= remote_function :update => "service-new-receivers-list", :url => { :controller => "notificationgroups", :action => "show_receivers", :id => "0" } %>
</script>

<div id="service-new">
	<div id="service-new-form">
		<% form_for :service, :url => { :action => "create" } do |f| %>
			<%= label :name, "Name" %>
			<%= f.text_field :name %> <%= error_message_on(:service, :name) %>

			<%= label :host, "Host" %>
			<%= f.text_field :host %> <%= error_message_on(:service, :host) %>

			<%= label :port, "Port" %>
			<%= f.text_field :port %> <%= error_message_on(:service, :port) %>

			<%= label :service_type, "Protocol check" %>
			<%= f.select :service_type, getServiceTypes.sort, { :selected => "none" } %> <%= error_message_on(:service_type, :type) %>

			<%= label :timeout, "Timeout (seconds)" %>
			<%= f.text_field :timeout, :value => "5" %> <%= error_message_on(:service, :timeout) %>

			<%= label :maxres, "Max. response time (ms)" %>
			<%= f.text_field :maxres, :value => "250" %> <%= error_message_on(:service, :maxres) %>

			<%= label :warninggroup, "Notification group" %>
			<%= f.select :warninggroup, @notigroups, { :selected => "0" }, { :onchange => "new Ajax.Updater('service-new-receivers-list', '/notificationgroups/show_receivers/' + this.value , {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('" + form_authenticity_token + "')}); new Effect.Highlight(document.getElementById('service-new-receivers'), { delay: 0.5, duration: 4, startcolor: '#ffff99', endcolor: '#ffffff' }); return false;" } %>
			<%= error_message_on(:service, :warninggroup) %>
			
      <%= label :servicegroup_id, "Service group" %>
     	<%= f.select :servicegroup_id, @service_groups, { :selected => "0" }%> <%= error_message_on(:service, :servicegroup_id) %>
 	  	
			<%= label :linkedhost, "Link to host" %>
     	<%= f.select :linkedhost, @hosts, { :selected => "0" }%> <%= error_message_on(:service, :linkedhost) %>

			<p>
			<%= submit_tag "Add service" %>
			</p>
		<% end %>
	</div>

	<div id="service-new-help">
		<h2>Help</h2>
		<dl>
			<dt>Name</dt>
			<dd id="formhelp-name">The name of the new service</dd>
			<dt>Host</dt>
			<dd id="formhelp-host">The host this service is running on. Hostname or IP allowed.</dd>
			<dt>Port</dt>
			<dd id="formhelp-port">The port this service is listening on.</dd>
			<dt>Protocol check</dt>
			<dd id="formhelp-service_type">
					Check if the service behind the defined host and port is spaeking this protocol.
					Select "None" if you just want to checkif a connection can be established.
			</dd>
			<dt>Timeout</dt>
			<dd id="formhelp-timeout">After how long the service check is aborted. Standard: 5 seconds.</dd>
			<dt>Max. response time</dt>
			<dd id="formhelp-maxres">How high the response time of this service must at least be to cause an alarm.</dd>
			<dt>Notification group</dt>
			<dd id="formhelp-warninggroup">Which notification group to inform in case of an alarm related to this service.</dd>
			<dt>Link to host</dt>
			<dt>Service group</dt>
			<dd id="formhelp-servicegroup_id">
        You can add this service to a service group. This will help you keep the overview of services.
      </dd>
			<dd id="formhelp-linkedhost">
				You can link this service to a host. The status of this service will then appear in the details of the host.
			</dd>
		</dl>
	</div>

	<div id="service-new-receivers">
			<h2 id="receivers-head">Notification receivers</h2>
			The following receivers will be informed in case of an alarm related to this service:
			<div id="service-new-receivers-list">
			</div>
	</div>

	<br class="clear" />

</div>
