<%= render_headline "Service &raquo;" + @service.name  + "&laquo; on &raquo;" + @service.host + "&laquo;" %>

<div id="service">
	<fieldset>
		<legend>Main</legend>
		<dl>
			<dt>Host</dt>
			<dd><%= @service.host %></dd>
			<dt>Port</dt>
			<dd><%= @service.port %></dd>
			<dt>Protocol check</dt>
			<dd><%= @service.service_type.upcase %></dd>
			<dt>Response time</dt>
			<dd><%= @service.responsetime %> ms (Maximum: <%= @service.maxres %> ms)</dd>
			<dt>Status</dt>
			<dd><strong><%= getErrorName @service.state %></strong></dd>
			<dt>Timeout</dt>
			<dd><%= @service.timeout %></dd>
		</dl>
	</fieldset>
</div>
