<%= render_headline "Service &raquo;" + @service.name  + "&laquo; on &raquo;" + @service.host + "&laquo;" %>

<div id="service">
	<% if @service.state.blank? %>
		<div class="instantstate-warn">
			<%= showIcon "warning", "float: left; margin-right: 3px;" %>
			This service has not been checked yet!
		</div>
	<% end %>
	<% if @service.state == 0 %>
		<div class="instantstate-error">
			<%= showIcon "error", "float: left; margin-right: 3px;" %>
			The service is not reachable or responses with a wrong protocol!
		</div>
	<% end %>
	<% if @service.state == 1 %>
		<div class="instantstate-okay">
			<%= showIcon "okay", "float: left; margin-right: 3px;" %>
			The service is reachable and responses fast enough!
		</div>
	<% end %>
	<% if @service.state == 2 %>
		<div class="instantstate-warn">
			<%= showIcon "warning", "float: left; margin-right: 3px;" %>
			The service is reachable but has a too high response time!
		</div>
	<% end %>
	<% if @service.state == 3 %>
		<div class="instantstate-internal-error">
			<%= showIcon "error", "float: left; margin-right: 3px;" %>
			Internal ScopePort error. Service could not be checked.
		</div>
	<% end %>
	<dl>
		<dt>Host</dt>
  	<dd><%=h @service.host %></dd>
  	<dt>Port</dt>
  	<dd><%=h @service.port %></dd>
  	<dt>Protocol check</dt>
		<% if @service.service_type == "none" %>
			<dd>None</dd>
		<% else %>
			<dd><%=h @service.service_type.upcase %></dd>
		<% end %>
		<dt>Last checked</dt>
		<% if @service.lastcheck == 0 %>
			<dd>Never</dd>
		<% else %>
			<dd><%=h time_ago_in_words(Time.at @service.lastcheck)  %> ago</dd>
		<% end %>
   	<dt>Response time</dt>
   	<dd>
      <% if @service.responsetime.blank? %>
        Not checked yet
      <% else %>
        <%=h @service.responsetime %> ms (Maximum: <%= @service.maxres %> ms)
      <% end %>
    </dd>
   	<dt>Timeout</dt>
   	<dd><%=h @service.timeout %> seconds</dd>
   	<dt>Handler</dt>
   	<dd>
      <% if @service.handler == 0 %>
        None
      <% else %>
        #<%=h @service.handler %>
      <% end %>
    </dd>
  </dl>

</div>

<div id="service-graph-response">
  <%= show_graph "service-#{@service.id}" %>
</div>

<div class="comments">
  <h2>Comments</h2><br />
  <% if @service.servicecomments.blank? %>
    <div class="comment-body">
      <strong>No comments on this service yet.</strong>
    </div>
  <% end %>

  <% @service.servicecomments.each do |comment| %>
    <div class="comment" id="comment_<%= comment.id %>">
      <div class="comment-head">
        <%= showIcon "comment" %>
        <span class="comment-title">
          <%= buildUserLink comment.user.id %>
          <%=h comment.title %>
        </span>
        <span class="comment-date"><%=h comment.created_at %></span>
        <% if comment.user.id == current_user.id %>
          <span class="comment-delete">
            <%= link_to_remote "Delete", :url => { :action => "deletecomment", :id => comment.id },
                                         :complete => "hideComment(#{comment.id})" %>
          </span>
        <% end %>
      </div>
      <div class="comment-body">
        <%= simple_format h(comment.comment) %>
      </div>
    </div>
  <% end %>
</div>

<div class="new-comment">
  <h2>New comment</h2>
  <% form_for :new_comment, :url => { :action => "store_comment" } do |f| %>
    <div class="new-comment-form">
      <%= f.hidden_field :service_id, :value => @service.id %>
      <%= f.label :title, "Title", :float => "left" %>
      <%= f.text_field :title %>
      <%= f.label :comment, "Comment", :float => "left" %>
      <%= f.text_area :comment, :cols => "80", :rows => "5" %>
    </div>
    <div class="new-comment-description">
      <strong>Use this form to leave a comment on this service.</strong>
      You can delete your own comments at any time. Note that your name
      will be visible above the comment.

      <br /><br />

      No HTML allowed. Lines break automatically.
    </div>
    <p><%= submit_tag "Add comment", :disable_with => "Please wait" %></p>
  <% end %>
</div>

<% if admin? %>
<div id="service-delete">
	<% form_tag :action => "delete", :id => @service.id do %>
		<%= submit_tag "Delete this service", :disable_with => "Please wait", :onclick => "return #{confirm_javascript_function("Are you sure you want to delete this service permanently ?")}" %>
	<% end %>
</div>
<% end %>
