<h1>Downtimes</h1>

<br />
<h2>Currently there are no scheduled downtimes</h2>

<!-- Dowtime Section
	<table id="downtime-table">
		<tr class="doNotHighlightMe">
			<th>Host id</th>
			<th>Service id</th>
			<th>From</th>
			<th>To</th>
			<th>Type</th>
			<th>Scheduled?</th>
		</tr>
	<% if @downtimes.length > 0 %>
		<% @downtimes.each do |downtime| %>	
			<tr>
				<td>
				<%= h @downtimes.hostid %>		
				</td>
				<td>
				<%= h @downtimes.serviceid %>		
				</td>
				<td>
				<%= h @downtimes.from %>		
				</td>
				<td>
				<%= h @downtimes.to %>		
				</td>
				<td>
				<%= h @downtimes.type %>		
				</td>
				<td>
				<%= h @downtimes.scheduled %>		
				</td>
			</tr>
			
		<%end%>
		
	
<% else %>
	<p>
		No downtime record
	</p>
	</table>
<% end %>

-->
