<div id="loginbox">
  <img src="/images/logintop.png" id="logintop">
   <% form_tag sessions_path do -%>
    <%= label_tag 'login' %>
    <%= text_field_tag 'login', @login %>

    <%= label_tag 'password' %>
    <%= password_field_tag 'password', nil %>

    <!-- Uncomment this if you want this functionality
    <%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %></p>
    -->

    <br />

    <%= submit_tag 'Log in' %>
<% end %>
</div>

<div id="loginnotice">
 The time of this login will be visible to the administrators as your "last login time". 
</div>
