<%= render_headline "Alarms" %>
Every alarm of that has been caused by an existing service is listed here. Click on an alarm to get the detail view. Note that you can only attend alarms that are not attended by someone else yet and that you can only unattend your own alarms. 
<div id ="alarms-service-filters">
<%= render :partial => "filters", :locals => { :filters => @filters } %>
</div>
<div id="alarms-service-alarms">
	<h2>Service alarms</h2>
	<table>
		<tr class="doNotHighlightMe">
      <th>&nbsp;</th>
			<th>ID</th>
			<th>Time</th>
			<th>Service</th>
			<th>Status</th>
			<th colspan="2">Message</th>
		</tr>
		<% @service_alarms.each do |alarm| %>
			<tr id="alarm-<%=h alarm.id %>" class="<%= getAlarmStatusBackgroundClass alarm.status %>">
        <td>
          <input type="checkbox"
                  onclick="<%= updateAlarmStatusAJAX alarm.id, alarm.status %>"
                  <% if !alarm.attendee.blank? and alarm.attendee != current_user.id %>
                    disabled="disabled"
                  <% end %>>
        </td>
				<td><%=h alarm.id %></td>
				<td><%=h Time.at alarm.timestamp %></td>
				<td class="bold"><%=h alarm.servicename %></td>
				<td id="alarm-status-<%=h alarm.id %>">
            <%=h getAlarmStatus alarm.status %>
          <% if !alarm.attendee.blank? and alarm.attendee == current_user.id %>
            <strong>(me)</strong>
          <% end %>
        </td>
				<td class="bold"><%= getServiceAlarmMessage(alarm.service_state, alarm.ms) %></td>
				<td class="no-background-content"><%= link_to "Details", :action => "showservicealarm", :id => alarm.id %></td>
			</tr>
		<% end %>
	</table>
	<div class="pagination">
		<%= will_paginate @service_alarms %>
	</div>
</div>
