<%= render_headline "Alarms" %>
Every alarm that has been caused is listed here. Click on an alarm to get the detail view.

<div id="alarms-service-alarms">
	<h2>Service alarms</h2>
	<table>
		<tr class="doNotHighlightMe">
			<th>ID</th>
			<th>Time</th>
			<th>Service</th>
			<th>Status</th>
			<th>Message</th>
		</tr>
		<% @service_alarms.each do |alarm| %>
			<tr>
				<td><%=h alarm.id %></td>
				<td><%=h Time.at alarm.timestamp %></td>
				<td><%=h alarm.servicename %></td>
				<td><%=h getAlarmStatus alarm.status %></td>
				<td><%=h alarm.id %></td>
			</tr>
		<% end %>
	</table>
</div>
