<%= render_headline "Service alarm ##{@alarm.id.to_s} (Caused by service &raquo;#{@alarm.service.name}&laquo;)" %>
<%= getServiceAlarmMessage @alarm.service_state, @alarm.ms %>

<div id="alarms-alarmdetails">
	<dl>
		<dt>Date</dt>
		<dd><%= Time.at @alarm.timestamp %></dd>
		<dt>Status</dt>
		<dd><%= getAlarmStatus @alarm.status, true %></dd>
    <dt>Attended by</dt>
    <dd>
      <% if @alarm.user.blank? or @alarm.user.name.blank? %>
        Nobody
      <% else %>
        <%=h @alarm.user.name %>
        <% unless @alarm.attendance_date.blank? %>
          (<%=h @alarm.attendance_date %>)
        <% end %>
      <% end %>
    </dd>
	</dl>
</div>

<div id="alarms-attendalarm">
  <% if @alarm.status == false or @alarm.status.blank? %>
  	<% form_tag :action => "attend", :id => @alarm.id do %>
  		<%= submit_tag "Mark this alarm as \"Okay/Attended\"", :disable_with => "Please wait" %>
  	<% end %>
  <% else %>
    <% unless @alarm.user.blank? or @alarm.user.id.blank? or @alarm.user.id != current_user.id %>
    	<% form_tag :action => "unattend", :id => @alarm.id do %>
    		<%= submit_tag "Mark this alarm as \"New/Unattended\"", :disable_with => "Please wait" %>
    	<% end %>
    <% end %>
  <% end %>
</div>
