<h1>Host alarm #<%= @alarm.id %> (Caused by host &raquo;<%=h @host.name %>&laquo;)</h1>
<%= getHostAlarmMessage(@alarm.sensor, @alarm.value) %>

<div id="alarms-alarmdetails">
	<dl>
		<dt>Date</dt>
		<dd><%= Time.at @alarm.timestamp %></dd>
		<dt>Status</dt>
		<dd><%= getAlarmStatus @alarm.status, true %></dd>
    <dt>Attended by</dt>
    <dd>
      <% if @alarm.user.blank? or @alarm.user.name.blank? %>
        Nobody
      <% else %>
        <%=h @alarm.user.name %>
        <% unless @alarm.attendance_date.blank? %>
          (<%=h @alarm.attendance_date %>)
        <% end %>
      <% end %>
    </dd>
	</dl>
</div>

<div id="alarms-attendalarm">
  <% if @alarm.status == false or @alarm.status.blank? %>
  	<% form_tag :action => "attend", :id => @alarm.id do %>
  		<%= submit_tag "Mark this alarm as \"Okay/Attended\"", :disable_with => "Please wait" %>
  	<% end %>
  <% else %>
    <% unless @alarm.user.blank? or @alarm.user.id.blank? or @alarm.user.id != current_user.id %>
    	<% form_tag :action => "unattend", :id => @alarm.id do %>
    		<%= submit_tag "Mark this alarm as \"New/Unattended\"", :disable_with => "Please wait" %>
    	<% end %>
    <% end %>
  <% end %>
</div>

<div class="comments">
  <h2>Comments</h2><br />
  <% if @alarm.alarmcomments.blank? %>
    <div class="comment-body">
      <strong>No comments on this alarm yet.</strong>
    </div>
  <% end %>

<% @alarm.alarmcomments.each do |comment| %>
    <div class="comment" id="comment_<%= comment.id %>">
      <div class="comment-head">
        <%= showIcon "comment" %>
        <span class="comment-title">
          <%= buildUserLink comment.user_id %>
          <%=h comment.title %>
        </span>
        <span class="comment-date"><%=h comment.created_at %></span>
        <% if comment.user.id == current_user.id %>
          <span class="comment-delete">
            <%= link_to_remote "Delete", :url => { :action => "deletecomment", :id => comment.id },
                                         :complete => "hideComment(#{comment.id})" %>
          </span>
        <% end %>
      </div>
      <div class="comment-body">
        <%= simple_format h(comment.comment) %>
      </div>
    </div>
  <% end %>
</div>

<div class="new-comment">
  <h2>New comment</h2>
  <% form_for :new_comment, :url => { :action => "store_comment" } do |f| %>
    <div class="new-comment-form">
      <%= f.hidden_field :alarm_id, :value => @alarm.id %>
      <%= hidden_field :misc, :alarm_type, :value => 1 %>
      <%= f.label :title, "Title", :float => "left" %>
      <%= f.text_field :title %>
      <%= f.label :comment, "Comment", :float => "left" %>
      <%= f.text_area :comment, :cols => "80", :rows => "5" %>
    </div>
    <div class="new-comment-description">
      <strong>Use this form to leave a comment on this alarm.</strong>
      You can delete your own comments at any time. Note that your name
      will be visible above the comment.

      <br /><br />

      No HTML allowed. Lines break automatically.
    </div>
    <p><%= submit_tag "Add comment", :disable_with => "Please wait" %></p>
  <% end %>
</div>


