<h1>Edit host &raquo;<%= @host.name %>&laquo;</h1>

<%= javascript_include_tag "scopeport-forms" %>

<script type="text/javascript">
  <%= remote_function :update => "host-new-receivers-list", :url => { :controller => "notificationgroups", :action => "show_receivers", :id => "#{@host.notificationgroup_id}" } %>
</script>

<div id="host-new">
  <div id="host-new-form">
	  <% form_for :host, :url => { :action => "update", :id => @host.id } do |f| %>
			<%= label :name, "Name" %>
			<%= f.text_field :name %> <%= error_message_on(:host, :name) %>

      <%= label :description, "Short description" %>
			<%= f.text_field :description %> <%= error_message_on(:host, :description) %>

			<%= label :os, "Operating system type" %>
			<%= f.select :os, @os_types, :selected => @host.os %> <%= error_message_on(:host, :os) %>
			
      <%= label :notificationgroup_id, "Notification group" %>
			<%= f.select :notificationgroup_id, @notigroups, { :selected => @host.notificationgroup_id }, { :onchange => "new Ajax.Updater('host-new-receivers-list', '/notificationgroups/show_receivers/' + this.value , {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('" + form_authenticity_token + "')}); new Effect.Highlight(document.getElementById('host-new-receivers'), { delay: 0.5, duration: 4, startcolor: '#ffff99', endcolor: '#ffffff' }); return false;" } %>

			<%= label :hostgroup, "Hostgroup" %>
			<%= f.select :hostgroup_id, @hostgroups, :selected => @host.hostgroup_id %> <%= error_message_on(:host, :hostgroup) %>

      <p>
			  <%= submit_tag "Edit host" %>
      </p>
	  <% end %>
  </div>
	
  <div id="host-new-help">
		<h2>Help</h2>
		<dl>
			<dt>Name</dt>
			<dd id="formhelp-name">A descriptive name of the new host</dd>
			<dt>Description</dt>
			<dd id="formhelp-description">A short description of this host</dd>
			<dt>Operating system type</dt>
			<dd id="formhelp-os">The type of operating system this host is running</dd>
			<dt>Hostgroup</dt>
			<dd id="formhelp-hostgroup_id">You can add this host to a host group. This will help you keep the overview of hosts.</dd>
    </dl>
  </div>
	
  <div id="host-new-receivers">
			<h2 id="receivers-head">Notification receivers</h2>
			The following receivers will be informed in case of an alarm caused by this host:
			<div id="host-new-receivers-list">
			</div>
	</div>

</div>

<br style="clear: both;" />
