<h1>Hosts</h1>

<table class="hosts-list">
  <tr class="doNotHighlightMe">
    <th>Name</th>
    <th>CPU1</th>
    <th>CPU5</th>
    <th>CPU15</th>
    <th>Free Mem.</th>
    <th>Free Swap</th>
    <th>FI</th>
    <th>OF</th>
    <th>RP</th>
    <th>TP</th>
  </tr>
  <% @hosts.each do |host| %>
    <tr>
      <td class="hosts-list-column-name"><%= link_to h(host["name"]), :action => "show", :id => host["id"] %></td>
      <td class="<%= getSensorStateColumnColor host["id"], "cpu1", host["cpu1"] %>"><%=h host["cpu1"] %></td>
      <td class="<%= getSensorStateColumnColor host["id"], "cpu5", host["cpu5"] %>"><%=h host["cpu5"] %></td>
      <td class="<%= getSensorStateColumnColor host["id"], "cpu15", host["cpu15"] %>"><%=h host["cpu15"] %></td>
      <td class="<%= getSensorStateColumnColor host["id"], "fm", host["fm"] %>">
        <%=h host["fm"] %><%= host["fm"] == "N/A" ? "" : "kB" %>
      </td>
      <td class="<%= getSensorStateColumnColor host["id"], "fs", host["fs"] %>">
        <%=h host["fs"] %><%= host["fs"] == "N/A" ? "" : "kB" %>
      </td>
      <td class="<%= getSensorStateColumnColor host["id"], "fi", host["fi"] %>"><%=h host["fi"] %></td>
      <td class="<%= getSensorStateColumnColor host["id"], "of", host["of"] %>"><%=h host["of"] %></td>
      <td class="<%= getSensorStateColumnColor host["id"], "rp", host["rp"] %>"><%=h host["rp"] %></td>
      <td class="<%= getSensorStateColumnColor host["id"], "tp", host["tp"] %>"><%=h host["tp"] %></td>
    </tr>
  <% end %>
</table>
