<h1>Add host</h1>

<%= javascript_include_tag "scopeport-forms" %>

<div id="host-new">
  <div id="host-new-form">
	  <% form_for :host, :url => { :action => "create" } do |f| %>
			<%= label :name, "Name" %>
			<%= f.text_field :name %> <%= error_message_on(:host, :name) %>

			<%= label :password, "Password" %>
			<%= f.password_field :password %> <%= error_message_on(:host, :password) %>

			<%= label :os, "Operating system type" %>
			<%= f.select :os, @os_types %> <%= error_message_on(:host, :os) %>

			<%= label :hostgroup, "Hostgroup" %>
			<%= f.select :hostgroup, @hostgroups %> <%= error_message_on(:host, :hostgroup) %>



      <p>
			  <%= submit_tag "Add host" %>
      </p>
	  <% end %>
  </div>
</div>
