<h1>Host &raquo;<%=h @host.name %>&laquo;</h1>

<div id="hosts-host-instantstate">
  <% if @host.outdated? %>
    <div class="instantstate-error">
      <%= showIcon "error", "float: left; margin-right: 3px;" %>
      This host did not send any sensor data in the last two minutes!
    </div>
  <% else %>
    <% if @host.has_sensor_warnings? %>
      <div class="instantstate-warn">
        <%= showIcon "warning", "float: left; margin-right: 3px;" %>
        The host is sending sensor data but some sensor values are out of the defined levels.
      </div>
    <% else %>
      <div class="instantstate-okay">
        <%= showIcon "okay", "float: left; margin-right: 3px;" %>
        The host is sending data and the sensor values indicate no problems.
      </div>
    <% end %>
  <% end %>
</div>

<div id="hosts-host-profile-sensors">
  <dl>
    <dt>Last contact:</dt>
    <dd><%= @host.last_sensor_time.blank? ? "Unknown" : @host.last_sensor_time %></dd>
    <dt>Hostname:</dt>
    <dd><%= @sensors["profile_hostname"] %></dd>
    <dt>Domainname:</dt>
    <dd><%= @sensors["profile_domainname"] %></dd>
    <dt>Kernel:</dt>
    <dd><%= @sensors["profile_kernel"] %></dd>
  </dl>

  <dl>
  <dt>Total Memory:</dt>
  <dd><%= @sensors["profile_total_memory"] %></dd>
  <dt>Total Swap:</dt>
  <dd><%= @sensors["profile_total_swap"] %></dd>
  </dl>
</div>

<table id="hosts-host-sensors">
  <tr class="<%= getSensorStateColumnColor @sensors, "cpu1", @sensors["cpu1"] %>">
    <td class="hosts-host-sensors-title">CPU load average last minute</td>
    <td><%= @sensors["cpu1"] %> (<%= @conditions["cpu1"] %>)</td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "cpu5", @sensors["cpu5"] %>">
    <td class="hosts-host-sensors-title">CPU load average last 5 minutes</td>
    <td><%= @sensors["cpu5"] %> (<%= @conditions["cpu5"] %>)</td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "cpu15", @sensors["cpu15"] %>">
    <td class="hosts-host-sensors-title">CPU load average last 15 minutes</td>
    <td><%= @sensors["cpu15"] %> (<%= @conditions["cpu15"] %>)</td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "fm", @sensors["fm"] %>">
    <td class="hosts-host-sensors-title">Free memory</td>
    <td><%= @sensors["fm"] %> kB (<%= @conditions["fm"] %> kB)</td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "fs", @sensors["fs"] %>">
    <td class="hosts-host-sensors-title">Free swap space</td>
    <td><%= @sensors["fs"] %> kB (<%= @conditions["fs"] %> kB)</td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "fi", @sensors["fi"] %>">
    <td class="hosts-host-sensors-title">Free inodes</td>
    <td><%= @sensors["fi"] %> (<%= @conditions["fi"] %>)</td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "of", @sensors["of"] %>">
    <td class="hosts-host-sensors-title">Number of currently opened files</td>
    <td><%= @sensors["of"] %> (<%= @conditions["of"] %>)</td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "rp", @sensors["rp"] %>">
    <td class="hosts-host-sensors-title">Number of currently running processes</td>
    <td><%= @sensors["rp"] %> (<%= @conditions["rp"] %>)</td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "tp", @sensors["tp"] %>">
    <td class="hosts-host-sensors-title">Total number of processes</td>
    <td><%= @sensors["tp"] %> (<%= @conditions["tp"] %>)</td>
  </tr>
</table>

<div id="hosts-host-configure-conditions">
  <%= link_to "Configure sensor conditions", :controller => "sensorconditions", :action => "change", :id => @host.id %>
</div>
