<h1>Host &raquo;<%=h @host.name %>&laquo;</h1>

<div id="hosts-host-instantstate">
  <% if @host.outdated? %>
    <div class="instantstate-error">
      <%= showIcon "error", "float: left; margin-right: 3px;" %>
      This host did not send any sensor data in the last two minutes!
    </div>
  <% else %>
    <% if @host.has_sensor_warnings? %>
      <div class="instantstate-warn">
        <%= showIcon "warning", "float: left; margin-right: 3px;" %>
        The host is sending sensor data but some sensor values are out of the defined levels.
      </div>
    <% else %>
      <div class="instantstate-okay">
        <%= showIcon "okay", "float: left; margin-right: 3px;" %>
        The host is sending data and the sensor values indicate no problems.
      </div>
    <% end %>
  <% end %>
</div>

<div id="hosts-host-profile-sensors">
  <dl>
    <dt>Last contact:</dt>
    <dd><%= @host.last_sensor_time.blank? ? "Unknown" : @host.last_sensor_time %></dd>
    <dt>Client version:</dt>
    <dd><%= @host.clientversion.blank? ? "Unknown" : h(@host.clientversion) %></dd>
    <dt>Hostname:</dt>
    <dd><%= @host.hostname.blank? || @host.hostname == "-0-" ? "N/A" : h(@host.hostname) %></dd>
    <dt>Domainname:</dt>
    <dd><%= @host.domainname.blank? || @host.domainname == "-0-" ? "N/A" : h(@host.domainname) %></dd>
    <dt>Kernel:</dt>
    <dd><%= @host.linux_kernelversion.blank? || @host.linux_kernelversion == "-0-" ? "N/A" : h(@host.linux_kernelversion) %></dd>
  </dl>

  <dl>
    <dt>Total Memory:</dt>
    <dd><%= @host.total_memory.blank? || @host.total_memory == "-0-" ? "N/A" : "#{number_to_human_size(@host.total_memory.to_i * 1024)}" %></dd>
    <dt>Total Swap:</dt>
    <dd><%= @host.total_swap.blank? || @host.total_swap == "-0-" ? "N/A" : "#{number_to_human_size(@host.total_swap.to_i * 1024)}" %></dd>
    <dt>CPU Cores:</dt>
    <dd><%= @host.cpus.count.blank? ? "N/A" : "#{h(@host.cpus.count)} <span id='hosts-host-show-cpus'>(#{link_to "show", "#", :onclick => "showCpus()"})</span>" %></dd>
    <dt>Network interfaces:</dt>
    <dd><%= @host.networkinterfaces.count.blank? ? "N/A" : "#{h(@host.networkinterfaces.count)} <span id='hosts-host-show-nics'>(#{link_to "show", "#", :onclick => "showNics()"})</span>" %></dd>
  </dl>
</div>

<%= link_to "Edit this host", :action => "edit", :id => @host.id %>
|
<%= link_to "Edit graphs", :action => "graphs", :id => @host.id %>
<br /><br />

<div id="hosts-host-cpus">
  <% if @host.cpus.blank? %>
	<strong>No CPU cores detected</strong>
  <% else %>
	<table id="hosts-host-cpus-table">
	  <tr class="doNotHighlightMe">
	    <th>CPU</th>
	    <th>Vendor</th>
	    <th>Model</th>
	  </tr>
	  <% @host.cpus.each do |cpu| %>
	    <tr>
	      <td><strong><%=h cpu.core_number %></strong></td>
	      <td><%=h cpu.vendor %></td>
	      <td><%=h cpu.model %></td>
	    </tr>
	  <% end %>
	</table>
  <% end %>
</div>

<div id="hosts-host-nics">
  <% if @host.networkinterfaces.blank? %>
	<strong>No network interfaces detected</strong>
  <% else %>
	<table id="hosts-host-nics-table">
	  <tr class="doNotHighlightMe">
	    <th style="width: 700px;">Network interface</th>
	    <th>Received</th>
	    <th>Sent</th>
	  </tr>
	  <% @host.networkinterfaces.each do |nic| %>
	    <tr>
	      <td><strong><%=h nic.name %></strong></td>
	      <td><%= number_to_human_size nic.received.to_i %></td>
	      <td><%= number_to_human_size nic.sent.to_i %></td>
	    </tr>
	  <% end %>
	</table>
  <% end %>
</div>

<table id="hosts-host-sensors">
  <tr class="doNotHighlightMe">
    <th>Sensor</th>
    <th>Value</th>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "cpu1", @sensors["cpu1"] %>">
    <td class="hosts-host-sensors-title">CPU load average last minute</td>
    <td><%= @sensors["cpu1"] %> <%= @conditions["cpu1"].blank? ? "" : "(#{@conditions["cpu1"]})" %></td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "cpu5", @sensors["cpu5"] %>">
    <td class="hosts-host-sensors-title">CPU load average last 5 minutes</td>
    <td><%= @sensors["cpu5"] %> <%= @conditions["cpu5"].blank? ? "" : "(#{@conditions["cpu5"]})" %></td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "cpu15", @sensors["cpu15"] %>">
    <td class="hosts-host-sensors-title">CPU load average last 15 minutes</td>
    <td><%= @sensors["cpu15"] %> <%= @conditions["cpu15"].blank? ? "" : "(#{@conditions["cpu15"]})" %></td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "fm", @sensors["fm"] %>">
    <td class="hosts-host-sensors-title">Free memory</td>
    <td><%= @sensors["fm"] %> kB <%= @conditions["fm"].blank? ? "" : "(#{@conditions["fm"]} kB)" %></td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "fs", @sensors["fs"] %>">
    <td class="hosts-host-sensors-title">Free swap space</td>
    <td><%= @sensors["fs"] %> kB <%= @conditions["fs"].blank? ? "" : "(#{@conditions["fs"]} kB)" %></td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "fi", @sensors["fi"] %>">
    <td class="hosts-host-sensors-title">Free inodes</td>
    <td><%= @sensors["fi"] %> <%= @conditions["fi"].blank? ? "" : "(#{@conditions["fi"]})" %></td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "of", @sensors["of"] %>">
    <td class="hosts-host-sensors-title">Number of currently opened files</td>
    <td><%= @sensors["of"] %> <%= @conditions["of"].blank? ? "" : "(#{@conditions["of"]})" %></td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "rp", @sensors["rp"] %>">
    <td class="hosts-host-sensors-title">Number of currently running processes</td>
    <td><%= @sensors["rp"] %> <%= @conditions["rp"].blank? ? "" : "(#{@conditions["rp"]})" %></td>
  </tr>
  <tr class="<%= getSensorStateColumnColor @sensors, "tp", @sensors["tp"] %>">
    <td class="hosts-host-sensors-title">Total number of processes</td>
    <td><%= @sensors["tp"] %> <%= @conditions["tp"].blank? ? "" : "(#{@conditions["tp"]})" %></td>
  </tr>
</table>

<div id="hosts-host-configure-conditions">
  <%= link_to "Configure sensor conditions", :controller => "sensorconditions", :action => "change", :id => @host.id %>
</div>

<br style="clear: both;" />

<% if @disabled_graphs["cpuload"].blank? %>
<div id="hosts-host-graph-cpuload" class="hosts-host-graph">
  <%= showGraphDummy "cpuload", @host.id, form_authenticity_token %>
  <div class="graph-loading" id="graph-cpuload-loading" style="display: none;">
    <%= image_tag "ajax-loader.gif" %>
    <p>Generating CPU load average graph.</p>
  </div>
</div>
<% end %>

<% if @disabled_graphs["rp"].blank? %>
<div id="hosts-host-graph-rp" class="hosts-host-graph">
  <%= showGraphDummy "rp", @host.id, form_authenticity_token %>
  <div class="graph-loading" id="graph-rp-loading" style="display: none;">
    <%= image_tag "ajax-loader.gif" %>
    <p>Generating running processes graph.</p>
  </div>
</div>
<% end %>

<% if @disabled_graphs["tp"].blank? %>
<div id="hosts-host-graph-tp" class="hosts-host-graph">
  <%= showGraphDummy "tp", @host.id, form_authenticity_token %>
  <div class="graph-loading" id="graph-tp-loading" style="display: none;">
    <%= image_tag "ajax-loader.gif" %>
    <p>Generating total processes graph.</p>
  </div>
</div>
<% end %>

<% if @disabled_graphs["fm"].blank? %>
<div id="hosts-host-graph-fm" class="hosts-host-graph">
  <%= showGraphDummy "fm", @host.id, form_authenticity_token %>
  <div class="graph-loading" id="graph-fm-loading" style="display: none;">
    <%= image_tag "ajax-loader.gif" %>
    <p>Generating free memory graph.</p>
  </div>
</div>
<% end %>

<% if @disabled_graphs["of"].blank? %>
<div id="hosts-host-graph-of" class="hosts-host-graph">
  <%= showGraphDummy "of", @host.id, form_authenticity_token %>
  <div class="graph-loading" id="graph-of-loading" style="display: none;">
    <%= image_tag "ajax-loader.gif" %>
    <p>Generating open files graph.</p>
  </div>
</div>
<% end %>

<% if @disabled_graphs["dr"].blank? %>
<div id="hosts-host-graph-dr" class="hosts-host-graph">
  <%= showGraphDummy "dr", @host.id, form_authenticity_token %>
  <div class="graph-loading" id="graph-dr-loading" style="display: none;">
    <%= image_tag "ajax-loader.gif" %>
    <p>Generating read operations graph.</p>
  </div>
</div>
<% end %>

<% if @disabled_graphs["dw"].blank? %>
<div id="hosts-host-graph-dw" class="hosts-host-graph">
  <%= showGraphDummy "dw", @host.id, form_authenticity_token %>
  <div class="graph-loading" id="graph-dw-loading" style="display: none;">
    <%= image_tag "ajax-loader.gif" %>
    <p>Generating write operations graph.</p>
  </div>
</div>
<% end %>
