<h1>Emergencies</h1>

<table id="emergencies-list">
  <tr class="doNotHighlightMe">
    <th>Title</th>
    <th>Status</th>
    <th>Active users</th>
    <th>Comments</th>
    <th>Date</th>
  </tr>
  <% @emergencies.each do |emergency| %>
    <tr class="<%= emergency.active ? "sensor-error" : "sensor-okay" %>">
      <td><%= link_to emergency.title, { :action => "show", :id => emergency.id }, { :class => "link-normal" } %></td>
      <td>Active</td>
      <td><%= emergency.active_users %></td>
      <td><%= emergency.emergencycomments.count %></td>
      <td><%=h emergency.created_at %></td>
    </tr>
  <% end %>
</table>
