<h1>Emergency &raquo;<%=h @emergency.title %>&laquo;</h1>
Declared on <%=h @emergency.created_at %> by <%= buildUserLink @emergency.user.id %> 
<% unless @emergency.updated_at == @emergency.created_at %>
  [Last update: <%=h @emergency.updated_at %>]
<% end %>

<div id="emergency-description" class="emergency-section">
  <h2>Description</h2>
  <%= simple_format h(@emergency.description) %>
</div>

<script type="text/javascript">
  <%= remote_function :url => { :action => "get_chat_messages", :id => @emergency.id }, :update => "emergency-chat-list", :complete => "scrollToBottom('emergency-chat-list')" %>
</script>

<div id="emergency-chat" class="emergency-section">
  <h2 id="emergency-chat-title">Chat</h2>
  <div id="emergency-chat-top">
    <input id="autoscroll" type="checkbox" checked="checked" /> Auto scroll
    |
    <%= link_to "More", "#", :id => "emergency-chat-grower", :onclick => "scaleChatField()" %>
  </div>
  <ul id="emergency-chat-list">
  </ul>
  <div id="emergency-chat-new-message">
    <% form_remote_tag :url => "/emergencies/post_chat_message", :complete => "document.getElementById('emergency-chat-message-field').value='';" do %>
      <%= hidden_field_tag "[chat_message]emergency_id", @emergency.id %>
      <%= text_field_tag "[chat_message]message", "Type your message here", :maxlength => 250, :id => "emergency-chat-message-field", :onclick => "clearFieldWithText(this, 'Type your message here')" %>
      <%= submit_tag "Send", :id => "emergency-chat-submit-field" %>
    <% end %>
  </div>
</div>

<%= periodically_call_remote :url => { :action => "get_chat_messages", :id => @emergency.id }, :frequency => 1, :update => "emergency-chat-list", :complete => "scrollToBottom('emergency-chat-list')" %>

<div id="emergency-comments" class="emergency-section">
  <div class="comments">
    <h2>Comments</h2><br />
    <%= render :partial => "comment", :locals => { :emergency => @emergency } %>
  </div>

  <div class="new-comment">
    <h2>New comment</h2>
    <% form_for :new_comment, :url => { :action => "store_comment" } do |f| %>
      <div class="new-comment-form">
        <%= f.hidden_field :emergency_id, :value => @emergency.id %>
        <%= f.label :title, "Title", :float => "left" %>
        <%= f.text_field :title %>
        <%= f.label :comment, "Comment", :float => "left" %>
        <%= f.text_area :comment, :cols => "80", :rows => "5" %>
      </div>
      <div class="new-comment-description">
        <strong>Use this form to leave a comment on this emergency.</strong>
        You can delete your own comments at any time. Note that your name
        will be visible above the comment.

        <br /><br />

        No HTML allowed. Lines break automatically.
      </div>
      <p><%= submit_tag "Add comment", :disable_with => "Please wait" %></p>
    <% end %>
  </div>
</div>

<% if @emergency.user_id == current_user.id or current_user.admin %>
  <script type="text/javascript">
    <%= remote_function :update => "emergency-manually-send-receivers-list", :url => { :controller => "notificationgroups", :action => "show_receivers", :id => "0" } %>
  </script>
  <div id="emergency-manually-send" class="emergency-section">
    <div id="emergency-manually-send-left">
      <h2>Manually send notifications</h2>
      The user who declared this emergency and administrators can send the notification
      messages about this emergency manually from here.

      <br />
      <strong>Choose a notification group you want to inform:</strong>

      <div id="emergency-manually-send-form">
        <% form_tag "/emergencies/manually_send_notification?emergency_id=#{@emergency.id}" do %>
          <%= select_tag "notificationgroup_id", "<option value='0'></option>#{options_for_select(Notificationgroupdetail.all.collect { |w| [ w.name, w.id ]})}", :onchange => "new Ajax.Updater('emergency-manually-send-receivers-list', '/notificationgroups/show_receivers/' + this.value , {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('" + form_authenticity_token + "')}); new Effect.Highlight(document.getElementById('emergency-manually-send-receivers-list'), { delay: 0.5, duration: 4, startcolor: '#ffff99', endcolor: '#ffffff' }); return false;" %>
          <%= submit_tag "Send the notifications", :disable_with => "Please wait" %>
        <% end %>
      </div>

      <br />
      All notifications will be sent immediately after you hit the button and contain the same information
      as the regular emergency notifiations.

      <br /><br />
      <strong>Manually sent notifications:</strong>
      <ul>
      <% if @manually_sent_notifications.blank? %>
        <li>None</li>
      <% else %>
        <% @manually_sent_notifications.each do |notification| %>
          <li><%= notification.created_at %> by <%= buildUserLink notification.user_id %> to <%=h notification.notificationgroupdetail.name %></li>
        <% end %>
      <% end %>
      </ul>
    </div>

    <div id="emergency-manually-send-right">
	    <div id="emergency-manually-send-receivers">
			  <h2 id="receivers-head">Notification receivers</h2>
			  The following receivers will be receiving the manually sent notification:
			  <div id="emergency-manually-send-receivers-list">
			  </div>
	    </div>
    </div>
  </div>
  <br style="clear: both;" />
<% end %>

<div id="emergency-close">
  <% form_tag "/emergencies/close/#{@emergency.id}" do %>
    <%= submit_tag "Close this emergency" %>
  <% end %>
</div>
