<h1>Edit user - <%= @user.login %></h1>

<div id="user-update">
  <%= error_messages_for :user %>

  <div id="user-update-form">
    <% form_for :user, :url => { :action => "update", :id => @user.id } do |f| -%>
      
      <p><%= f.label :name,  "Real name" %>
      <%= f.text_field :name %></p>

      <p><%= f.label :email,  "Email address" %>
      <%= f.text_field :email %></p>

      <p><%= f.label :telephone_number,  "Telephone number (Optional)" %>
      <%= f.text_field :telephone_number %></p>

      <p><%= f.label :department_id,  "Department" %>
        <%= f.select :department_id, @departments.collect {|dep| [ dep.name, dep.id ] }, { :include_blank => "None" } %></p>
      

      <p><%= f.label :password, "Password" %>
      <%= f.password_field :password %></p>

      <p><%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation %></p>
			
			<% if admin? %> 
      <p><%= label_tag :admin, 'Admin?' %>
        <%= f.check_box :admin, :checked_value => "True" %></p>
      <% end %>

      <p><%= submit_tag "Update user profile" %></p>
      <% end -%>
  </div>
</div>
