<h1>Manage users</h1>

The following users are currently configured:

<table id="user-list-table">
  <tr class="doNotHighlightMe">
    <th>Username</th>
    <th>Name</th>
    <th>Department</th>
    <th>Email address</th>
    <th>Logout</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%=h user.login %></td>
      <td><%=h user.name %></td>
      <td>
        <% unless user.department.blank? %>
          <%=h user.department.name %>
        <% else %>
          None
        <% end %>
      </td>
      <td><%=h user.email %></td>
      <td>
        <% unless user.last_online.blank? %>
          <%=h user.last_online %>
        <% else %>
          Never
        <% end %>
      </td>
     <% if admin? or user.id == current_user.id %>
     		<td><%= link_to "Edit user", :action => "edit", :id => user.id %></td>
     		<td>
          <%= link_to "Delete user", { :action => "delete", :id => user.id }, :confirm => "If you delete this user all data will be lost. Are you sure ?" %>
        </td>
     <% end %>
     </td>
    </tr>
  <% end %>
</table>

<%= link_to "Add user", :action => "new" %>

<br /><br />
<h1>Departments</h1>
You can assign users to a department. Define the deparments here.

<ul>
<% if @departments.blank? %>
  <li>No departments defined yet</li>
<% else %>
  <% @departments.each do |department| %>
    <li><%=h department.name %> [<%= link_to "Delete", :action => "deletedepartment", :id => department.id %>]</li>
  <% end %>
<% end %>
</ul>

<% form_for :department, :url => { :action => "createdepartment" } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= submit_tag "Add department", :disable_with => "Please wait" %>
<% end %>
