<h1>My settings</h1>
<% form_for @user, :url => { :action => "saveusersettings" } do |f| %>
  <p>
    <% if @gravatar_allowed %>
      <%= f.check_box :use_gravatar, { :checked => @user.use_gravatar, :style => "float: left;" } %>
      <%= f.label :use_gravatar, "Use Gravatar for my avatar" %>
      <%= f.label :gravatar_email, "Email address for Gravatar" %>
      <%= f.text_field :gravatar_email %>
    <% else %>
      <%= f.check_box :use_gravatar, { :checked => @user.use_gravatar, :style => "float: left;", :disabled => true } %>
      <%= f.label :use_gravatar, "Use Gravatar for my avatar" %>
      <%= f.label :gravatar_email, "Email address for Gravatar" %>
      <%= f.text_field :gravatar_email, :disabled => true %>
    <% end %>
  </p>

  <p><%= submit_tag "Save my settings", :disable_with => "Please wait" %></p>
<% end %>

<h1>OAuth</h1>
<p>
  <%= link_to ("Configure OAuth Client Applications", :controller => "oauth_clients") %>
</p>