<h1><%=h @user.name %></h1>

<div id="user-image">
  <%= @user_image %>
</div>

<dl id="user-details" <%= @with_gravatar.blank? or !@with_gravatar ? "" : "class=\"user-details-with-gravatar\"" %>>
  <dt>Username</dt>
  <dd><%=h @user.login %></dd>

  <dt>Email</dt>
  <dd><%= mail_to h(@user.email) %>
  
  <dt>Telephone</dt>
  <dd><%= @user.telephone_number.blank? ? "N/A" : h(@user.telephone_number) %></dd>
  
  <dt>Department</dt>
  <dd>
    <% unless @user.department.blank? %>
      <%= @user.department.name.blank? ? "N/A" : h(@user.department.name) %>
    <% else %>
      N/A
    <% end %>
  </dd>
  
  <dt>Last online</dt>
  <dd><%=h @user.last_online %></dd>
</dl>
