<%= render_headline "General Settings" %>

<%= javascript_include_tag "scopeport-forms" %>

<div id="settings-general">
	<div id="settings-general-form">
	
	<% form_for :setting, :url => { :action => 'save' } do |f| %>
		<%= label_txtfd_err(f, :spserver, 'IP or Hostname of ScopePort server', @settings.spserver, :settings) %>
		<%= label_txtfd_err(f, :spport, 'Port of ScopePort server', @settings.spport, :settings) %>

		<%= label :gnotigroup, "General notification group" %>
		<%= f.select :gnotigroup, @notigroups, { :selected => friendly_nil(@settings.gnotigroup) } %> 	<%= error_message_on(:settings, :gnotigroup) %>
					
		<%= f.label	:eg1,'Notification group for emergencies with severity "warning"' %>
		<%= f.select :eg1, @notigroups, { :selected => friendly_nil(@settings.eg1) } %> 	<%= error_message_on(:settings, :eg1) %>
		<%= f.label	:eg2,'Notification group for emergencies with severity "alert"' %>
		<%= f.select :eg2, @notigroups, { :selected => friendly_nil(@settings.eg2) } %> 	<%= error_message_on(:settings, :eg2) %>
		<%= f.label	:eg3,'Notification group for emergencies with severity "critical"' %>
		<%= f.select :eg3, @notigroups, { :selected => friendly_nil(@settings.eg3) } %> 	<%= error_message_on(:settings, :eg3) %>

    <p>	
      <%= f.check_box :allow_gravatar, { :checked => friendly_nil(@settings.allow_gravatar), :style => "float: left;" } %>	
      <%= f.label :allow_gravatar, "Allow gravatar" %>
    </p>

		<%= submit_tag "Save Settings" %>
	<% end %>
	</div>
	
	<div id="settings-general-help">
		<h2>Help</h2>
		<dl>
			<dt>ScopePort hostname</dt>
			<dd id="formhelp-spserver">IP or hostname of your ScopePort server installation</dd>
			<dt>ScopePort port</dt>
			<dd id="formhelp-spport">The port your ScopePort server is listening on (Standard: 12200)</dd>
			<dt>General notification group</dt>
			<dd id="formhelp-gnotigroup">The notification group used for general notifications like a failure
        of the ScopePort database connection. This group should include the administrators responsible for
        this ScopePort installation.</dd>
			<dt>Allow gravatar</dt>
			<dd id="formhelp-allow_gravatar">
        Allow users to use the Gravatar service for their avatars?
        Learn more at <%= link_to "gravatar.com", "http://www.gravatar.com/", :class => "link-not-bold", :target => "_blank" %>
      </dd>
		</dl>
		
	</div>
</div>

<br style="clear: both;">
