<h1>Change sensor conditions for host &raquo;<%= @host.name %>&laquo;</h1>

<% form_tag "/sensorconditions/update/#{@host.id}" do %>
  <table id="sensor-conditions-table">
    <tr class="doNotHighlightMe">
      <th>Sensor name</th>
      <th>Operator</th>
      <th>Condition value</th>
      <th>Last value</th>
    </tr>
    
    <!-- cpu1 -->
    <tr>
      <td>CPU Load average last minute</td>
      <td><%= buildOperatorSelectTag "cpu1", @conditions["cpu1"] %></td>
      <td><%= text_field "conditions", "cpu1", :value => @conditions["cpu1"].blank? ? "" : h(@conditions["cpu1"].value) %></td>
      <td><%= @conditions["cpu1"].blank? ? "None" : @conditions["cpu1"]["last_value"] %></td>
    </tr>
    
    <!-- cpu5 -->
    <tr>
      <td>CPU Load average last 5 minutes</td>
      <td><%= buildOperatorSelectTag "cpu5", @conditions["cpu5"] %></td>
      <td><%= text_field "conditions", "cpu5", :value => @conditions["cpu5"].blank? ? "" : h(@conditions["cpu5"].value) %></td>
      <td><%= @conditions["cpu5"].blank? ? "None" : @conditions["cpu5"]["last_value"] %></td>
    </tr>
    
    <!-- cpu15 -->
    <tr>
      <td>CPU Load average last 15 minutes</td>
      <td><%= buildOperatorSelectTag "cpu15", @conditions["cpu15"] %></td>
      <td><%= text_field "conditions", "cpu15", :value => @conditions["cpu15"].blank? ? "" : h(@conditions["cpu15"].value) %></td>
      <td><%= @conditions["cpu15"].blank? ? "None" : @conditions["cpu15"]["last_value"] %></td>
    </tr>
    
    <!-- fm -->
    <tr>
      <td>Free memory in kilobyte</td>
      <td><%= buildOperatorSelectTag "fm", @conditions["fm"] %></td>
      <td><%= text_field "conditions", "fm", :value => @conditions["fm"].blank? ? "" : h(@conditions["fm"].value) %></td>
      <td><%= @conditions["fm"].blank? ? "None" : @conditions["fm"]["last_value"] %></td>
    </tr>
    
    <!-- fs -->
    <tr>
      <td>Free swap space in kilobyte</td>
      <td><%= buildOperatorSelectTag "fs", @conditions["fs"] %></td>
      <td><%= text_field "conditions", "fs", :value => @conditions["fs"].blank? ? "" : h(@conditions["fs"].value) %></td>
      <td><%= @conditions["fs"].blank? ? "None" : @conditions["fs"]["last_value"] %></td>
    </tr>
    
    <!-- fi -->
    <tr>
      <td>Number of free inodes</td>
      <td><%= buildOperatorSelectTag "fi", @conditions["fi"] %></td>
      <td><%= text_field "conditions", "fi", :value => @conditions["fi"].blank? ? "" : h(@conditions["fi"].value) %></td>
      <td><%= @conditions["fi"].blank? ? "None" : @conditions["fi"]["last_value"] %></td>
    </tr>

    <!-- of -->
    <tr>
      <td>Number of currently opened files</td>
      <td><%= buildOperatorSelectTag "of", @conditions["of"] %></td>
      <td><%= text_field "conditions", "of", :value => @conditions["of"].blank? ? "" : h(@conditions["of"].value) %></td>
      <td><%= @conditions["of"].blank? ? "None" : @conditions["of"]["last_value"] %></td>
    </tr>
    
    <!-- rp -->
    <tr>
      <td>Number of currently running processes</td>
      <td><%= buildOperatorSelectTag "rp", @conditions["rp"] %></td>
      <td><%= text_field "conditions", "rp", :value => @conditions["rp"].blank? ? "" : h(@conditions["rp"].value) %></td>
      <td><%= @conditions["rp"].blank? ? "None" : @conditions["rp"]["last_value"] %></td>
    </tr>
    
    <!-- tp -->
    <tr>
      <td>Total number of processes</td>
      <td><%= buildOperatorSelectTag "tp", @conditions["tp"] %></td>
      <td><%= text_field "conditions", "tp", :value => @conditions["tp"].blank? ? "" : h(@conditions["tp"].value) %></td>
      <td><%= @conditions["tp"].blank? ? "None" : @conditions["tp"]["last_value"] %></td>
    </tr>

  </table>

  <div id="sensor-conditions-save">
    <%= submit_tag "Save conditions" %>
  </div>

<% end %>
