<h1>Database</h1>

<div id="databasesizes">
	<dl>
		<dt>Total size of ScopePort database:</dt>
		<dd><%= number_to_human_size @db_total_size %></dd>
		<dt>Size of sensordata table:</dt>
		<dd><%=h number_to_human_size @db_sensor_size %></dd>
		<dt>Size of servicedata table:</dt>
		<dd><%=h number_to_human_size @db_service_size %></dd>
	</dl>

  <dl>
    <dt>Database connections</dt>
    <dd>
      <% if @db_connections_difference_alarm %>
        <span class="sensor-error-text"><%= @db_connections %></span>
      <% else %>
        <span class="sensor-okay-text"><%= @db_connections %></span>
      <% end %>
    </dd>
    <dt>Maximum allowed connection</dt>
    <dd><%= @db_connections_max %></dd>
  </dl>

  <dl>
    <dt>Monitored hosts:</dt>
    <dd><%= @monitored_hosts %></dd>
    <dt>Monitored services:</dt>
    <dd><%= @monitored_services %></dd>
  </dl>

</div>

<h1>Processes</h1>
<div id="nodes">
  <% @nodes.each do |node| %>
    <div class="node"> 
      <h2>Node: &raquo;<%= node.name %>&laquo;</h2>
      <% if node.vitals.blank? %>
        <div class="process-head process-head-error">Has not been started yet</div>
      <% end %>

      <% node.vitals.each do |process| %>
        <% if !process.clienthandler %>
          <% if Time.at(process.timestamp) >= 6.minutes.ago %>
            <div class="process-head process-head-okay">Main process</div>
            <div class="process-details">
              <span class="process-details-title">PID:</span> <%=h process.pid %>
              <span class="process-details-title">Virtual memory:</span> <%=h process.vmem %>
              <span class="process-details-title">Threads:</span> <%=h process.threads %>
              <span class="process-details-title">Last seen:</span> <%=h Time.at process.timestamp %>
              <span class="process-details-title">Received packages from hosts:</span> <%=h process.packetsOK %> accepted, <%=h process.packetsERR %> rejected
            </div>
          <% else %>
            <div class="process-head process-head-error">Main process (not running)</div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
