<%= render_headline "Notification groups" %>
Notification groups are used as receiver for warnings. When you set the notification group of a sensor everybody in this group will be informed in case of an alarm.

<% @groups.each do |group| %>
		<ul>
		<li>
			<%= link_to group.name, :controller => "notificationgroups", :action => "show", :id => group.id %>
			(<%= showNumOfGroupReceivers @counts[group.id].to_i %>)
		</li>
		</ul>
<% end %>

<div id="new-notigroup">
	<% form_for :newGroup, :url => { :action => "creategroup" } do |f| %>
		<%= label :newGroup, :name, "Name of new notification group" %>
		<%= f.text_field :name %> <%= error_message_on(:newGroup, :name) %>
		<%= submit_tag "Add group", :disable_with => "Please wait" %>
	<% end %>
</div>
