<%= render_headline "Notificationgroup &raquo;" + @group.name + "&laquo;" %>
The following notification receivers are in this group:

<div id="notigroupdetails">
	<%= showIcon "email", "float: left" %> <h3>Email</h3>
	<ul>
	<% @emailReceivers.each do |recv| %>
		<li><%= recv.mail %> <%= link_to showIcon("delete"), :action => "deletereceiver", :id => recv.id  %></li>
	<% end %>
	</ul>

	<%= showIcon "xmpp", "float: left;" %> <h3>XMPP/Jabber</h3>
	<ul>
	<% @jabberReceivers.each do |recv| %>
		<li><%= recv.jid %> <%= link_to showIcon("delete"), :action => "deletereceiver", :id => recv.id  %></li>
	<% end %>
	</ul>

	<%= showIcon "mobilec", "float: left;" %> <h3>Clickatell SMS API</h3>
	<ul>
	<% @mobilecReceivers.each do |recv| %>
		<li>+<%= recv.numberc %> <%= link_to showIcon("delete"), :action => "deletereceiver", :id => recv.id  %></li>
	<% end %>
	</ul>
</div>

<div id="new-notireceiver">
	<h2>Add receiver to this group</h2>
	<% form_for :newGroup, :url => { :controller => "notificationgroups", :action => "addreceiver", :id => params[:id] } do |f| %>
		<%= label :newGroup, :mail, "Email" %>
		<%= f.text_field :mail, :onfocus => "disableOtherReceiverFields(\"mail\")" %>
		<%= label :newGroup, :jid, "JID" %>
		<%= f.text_field :jid, :onfocus => "disableOtherReceiverFields(\"jid\")" %>
		<%= label :newGroup, :numberc, "Mobile (Clickatell)" %>
		<%= f.text_field :numberc,
													:onfocus => "disableOtherReceiverFields(\"numberc\"); clearFieldWithText(this, \"e.g. 4912345678\")",
													:value => "e.g. 4912345678" %>
    <p>
      <%= f.label :sevborder, "Only warn user if alarm severity is higher or equal than:" %>
      <%= f.select :sevborder, { "Ignored" => "0",
                                 "Warning" => "1",
                                 "Problem" => "2",
                                 "Critical" => "3" }.sort {|a,b| a[1]<=>b[1]} %>
    </p>
		<p>
			<%= submit_tag "Add receiver", :disable_with => "Please wait" %>
		</p>
	<% end %>
</div>

<div id="notigroup-delete">
	<% form_tag :action => "deletegroup", :id => @group.id do %>
		<%= submit_tag "Delete this notification group", :disable_with => "Please wait" %>
	<% end %>
</div>
