<%= render_headline "Setup" %>

<div id="setup">
	<h3>General Settings</h3>
	<ul>
		<li><%= link_to "General Settings", :controller => 'settings' %></li>
	</ul>
	
	<h3>Hosts</h3>
	<ul>
		<li><%= link_to "Add host", :controller => "hosts" , :action => "new" %></li>
		<li><%= link_to "Host groups", :controller => "hostgroups" %></li>
	</ul>

	<h3>Services</h3>
	<ul>
		<li><%= link_to "Add service", :controller => "services", :action => "new" %></li>
	</ul>
	
	<h3>Notifications</h3>
	<ul>
		<li><%= link_to "Notification groups", :controller => "notificationgroups" %></li>
	</ul>

	<h3>Miscellaneous</h3>
	<ul>
		<li><%= link_to "Blacklist", :controller => "blacklist" %></li>
	</ul>

</div>
