<%= render_headline "Setup" %>

<div id="setup">
	<h3>General</h3>
	<ul>
		<li><%= link_to "General settings", :controller => 'settings' %></li>
		<li><%= link_to "ScopePort Nodes", :controller => 'nodes' %></li>
  </ul>

  <h3>Users</h3>
  <ul>
		<li><%= link_to "Manage users", :controller => 'users' %></li>
		<li><%= link_to "User permissions", :controller => 'users', :action => "permissions" %></li>
	</ul>

  <h3>Notification methods</h3>
  <ul>
		<li><%= link_to "Email", :controller => 'settings', :action => "email" %></li>
		<li><%= link_to "XMPP/Jabber", :controller => 'settings', :action => "xmpp" %></li>
		<li><%= link_to "Clickatell SMS API", :controller => 'settings', :action => "mobilec" %></li>
  </ul>
	
	<h3>Hosts</h3>
	<ul>
		<li><%= link_to "Add host", :controller => "hosts" , :action => "new" %></li>
		<li><%= link_to "Sensor condition templates", :controller => "conditiontemplates" , :action => "index" %></li>
		<li><%= link_to "Host groups", :controller => "hostgroups" %></li>
	</ul>

	<h3>Services</h3>
	<ul>
		<li><%= link_to "Add service", :controller => "services", :action => "new" %></li>
		<li><%= link_to "Service groups", :controller => "servicegroups" %></li>
	</ul>
	
	<h3>Notifications</h3>
	<ul>
		<li><%= link_to "Notification groups", :controller => "notificationgroups" %></li>
	</ul>

	<h3>Miscellaneous</h3>
	<ul>
    <li><%= link_to "Notification method debugging", :controller => "conversationmessages" %></li>
		<li><%= link_to "Blacklist", :controller => "blacklist" %></li>
	</ul>

</div>
