<%= render_headline "Setup" %>

<div id="setup">
	<h3>General</h3>
	<ul>
		<li><%= link_to "General settings", :controller => 'settings' %></li>
		<li><%= link_to "ScopePort Nodes", :controller => 'nodes' %></li>
  </ul>

  <h3>Users</h3>
  <ul>
		<li><%= link_to "Manage users", :controller => 'users' %></li>
		<li><%= link_to "User permissions", :controller => 'users', :action => "permissions" %></li>
	</ul>

  <h3>Notification methods</h3>
  <ul>
		<li><%= link_to "Email", :controller => 'settings', :action => "email" %></li>
		<li><%= link_to "XMPP/Jabber", :controller => 'settings', :action => "xmpp" %></li>
		<li><%= link_to "Clickatell SMS API", :controller => 'settings', :action => "mobilec" %></li>
  </ul>
	
	<h3>Hosts</h3>
	<ul>
		<li><%= link_to "Add host", :controller => "hosts" , :action => "new" %></li>
		<li><%= link_to "Sensor condition templates", :controller => "conditiontemplates" , :action => "index" %></li>
		<li><%= link_to "Host groups", :controller => "hostgroups" %></li>
	</ul>

	<h3>Services</h3>
	<ul>
		<li><%= link_to "Add service", :controller => "services", :action => "new" %></li>
		<li><%= link_to "Service groups", :controller => "servicegroups" %></li>
	</ul>
	
	<h3>Notifications</h3>
	<ul>
		<li><%= link_to "Notification groups", :controller => "notificationgroups" %></li>
	</ul>

	<h3>Miscellaneous</h3>
	<ul>
    <li><%= link_to "Notification method debugging", :controller => "conversationmessages" %></li>
		<li><%= link_to "Blacklist", :controller => "blacklist" %></li>
	</ul>
</div>

<div id="setup-help">
  <h3>System information</h3>
  You are running ScopePort Web Interface version <i><%=h SP_VERSION %></i> on <i>Ruby <%=h RUBY_VERSION %> <%=h RUBY_PLATFORM %></i> powered by Ruby On Rails <i><%=h Rails::VERSION::STRING %></i>. The host you are running this system on is <i><%=h SP_HOST %></i>.
  RRDTool has version <i><%=h RRDTOOL_VERSION %></i> and is at <i><%=h RRDTOOL_PATH %></i>.
  <% if SP_DEV %>
  <p>This is a development version of ScopePort and has git revision <i><%= SP_GIT_REV %></i></p>
  <% end %>
</div>

<br style="clear: both;" />
