<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'
   'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
	<title>ScopePort Web Interface</title>
  <%= stylesheet_link_tag "core" %>
  <%= stylesheet_link_tag "sections" %>
  <%= stylesheet_link_tag "jquery.gritter" %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "jquery-1.3.2.min" %>
  <%= javascript_include_tag "jquery.gritter.min" %>
  <%= javascript_include_tag "jquery.tablesorter.min.js" %>
  <%= javascript_include_tag "jquery.sparkline.min.js" %>
  <%= javascript_include_tag "scopeport" %>
  <%= javascript_include_tag "scopeport-popups" %>
  <script type="text/javascript">
    jQuery.noConflict();
  </script>
  <%= javascript_include_tag "effects" %>
</head>
<body onclick="clearSearch()">
	<div id="maintop">
		<div id="top">
			<img src="/images/layout/top.png" alt="ScopePort" id="toplogo">
      <div id="emergency-list">
      <% if activeEmergencies? %>
        <%= link_to "Active emergencies!", :controller => "emergencies" %>
      <% end %>
      </div>
      <% unless @first_admin %>
			  <% if admin? %>
			  <div id="logmsg">
  				<%= truncate getLastLogMessage, :length => 100 %>
  				[<%= link_to ">", :controller => "logmessages" %>]
  			</div>
  			<% end %>
			  <div id="bigredbutton-activate">
  				<a onclick="bigRedButtonSlide()" title="Declare emergency!" id="bigredbutton-activator">
  					!
  				</a>
  			</div>
  			<div id="bigredbutton" style="display: none;">
  				<span id="bigredbutton-pulse"><%= link_to "Declare emergency!", :controller => "emergencies", :action => "new" %></span>
  			</div>
  			<div id="usermenu">
  				<div id="usermenuwelcome">
  					<% if logged_in? -%>
    					<strong>Welcome</strong>, <%= link_to current_user.login, { :controller => "users", :action => "show", :id => current_user.id }, :id => "usermenu-user-link" %>
  					<% else %>
    					<%= link_to "Log in",  login_path,  { :title => "Log in" } %>
  					<% end %>
  		    </div>
  				<div id="usermenulinks">
  					<%= link_to "Settings", :controller => "users", :action => "settings" %>
  					|
  					<%= link_to "Logout", logout_path %>
  				</div>
  				<div id="usermenudate">
  					<i><%= Time.now %></i>
  				</div>
  			</div>
  			<div id="navigation">
  				<div class="topbutton">
  					<%= navigationLink "overview", "Overview" %>
  				</div>
  				<div class="topbutton">
  					<%= navigationLink "hosts", "Hosts" %>
  				</div>
  				<div class="topbutton">
  					<%= navigationLink "services", "Services" %>
  				</div>
  				<div class="topbutton-sectionspacer"></div>

  				<div class="topbutton">
  					<%= navigationLink "alarms", "Alarms" %>
  				</div>
  				<div class='topbutton'>
  					<%= navigationLink "downtimes", "Downtimes" %>
  				</div>
  				<div class="topbutton-sectionspacer">
  				</div>
  				<% if admin? %>
  				<div id="adminsubnavigation">
  					<div id="adminnotice">
  						Admin
  					</div>
  					<div class="admintopbutton">
  						<%= navigationLink "setup", "Setup" %>
  					</div>
  					<div class="admintopbutton">
  						<%= navigationLink "logmessages", "Log" %>
  					</div>
  					<div class="admintopbutton">
  						<%= navigationLink "vitals", "Vitals" %>
  					</div>
  				</div>
  				<% end %>
  			</div>
      <% end %>
		</div>
	</div>
	<div id="maincontent">
		<noscript>
			<div id="enablejs">
				You must enable JavaScript to get full functionality
			</div>
		</noscript>
		
		<%= getServerNotRunningMessage  %>

		<div id="flash-notice" style="display: none;"><%= flash[:notice] %></div>

		<div id="flash-error" style="display: none;"><%= flash[:error] %></div>
		
		<script type="text/javascript">
      <% if activeEmergencies? %>
        Effect.Pulsate("toplogo", { pulses: 9999, duration: 9999/0.7 });
      <% end %>

			noticediv = document.getElementById("flash-notice").innerHTML;
			errordiv = document.getElementById("flash-error").innerHTML;
			if(noticediv != "")
				Effect.toggle('flash-notice', 'appear', { delay: 0.0, duration: 3.0 });
			if(errordiv != "")
				Effect.toggle('flash-error', 'appear', { delay: 0.0, duration: 3.0 });
		</script>

    <div id="maincontent-top">
      <div id="maincontent-top-graphs">
        <%= getTopGraphs %>
      </div>
      <div id="maincontent-top-search">
        <form id="searchform">
          <div>
            <span id="searchform-title">Search:</span>
            <input id="searchform-searchbox" type="text" size="30" onkeyup="search(this.value, '<%= form_authenticity_token %>');" />
          </div>
          <div id="suggestions">
          </div>
        </form>
      </div>
    </div>

    <br style="clear: both;" />

		<%= yield %>

	</div>
	<div id="footer">
		ScopePort is free software. (Free as in &raquo;free speech&laquo;)
		<br>
		Page generated in <%= (load_time*1000).to_i/1000.000 %> seconds.
	</div>
</div>

<script type="text/javascript">
  <%= getTopGraphJS %>
</script>

</body>
</html>
