<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'
   'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
	<title>ScopePort Web Interface</title>
	<%= stylesheet_link_tag "core" %>
	<%= stylesheet_link_tag "sections" %>
	<%= javascript_include_tag "scopeport" %>
	<%= javascript_include_tag "prototype" %>
	<%= javascript_include_tag "effects" %>
</head>
<body>
	<div id="maintop">
		<div id="top">
			<img src="/images/layout/top.png" alt="ScopePort" id="toplogo">
			<div id="logmsg">
				<%= getLastLogMessage %>
				[<%= link_to ">", :controller => "logmessages" %>]
			</div>
			<div id="bigredbutton-activate">
				<a onclick="bigRedButtonSlide()" title="Declare emergency!">
					!
				</a>
			</div>
			<div id="bigredbutton" style="display: none;">
				<%= link_to "Declare emergency!", :controller => "emergencies", :action => "declare" %>
			</div>
			<div id="usermenu">
				<div id="usermenuwelcome">
					<% if logged_in? -%>
  					<strong>Welcome</strong>, <%= link_to_current_user :content_method => :login %>
					<% else %>
					<%= link_to "Log in",  login_path,  { :title => "Log in" } %>
					<% end %>
				</div>
				<div id="usermenulinks">
					<%= link_to "Settings", :controller => "usersettings" %>
					|
					<%= link_to "Logout", logout_path %>
				</div>
				<div id="usermenudate">
					<i><%= Time.now %></i>
				</div>
			</div>
			<div id="navigation">
				<div class="topbutton">
					<%= navigationLink "overview", "Overview" %>
				</div>
				<div class="topbutton">
					<%= navigationLink "services", "Services" %>
				</div>
				<div class="topbutton-sectionspacer"></div>

				<div class="topbutton">
					<%= navigationLink "alarms", "Alarms" %>
				</div>
				<div class='topbutton'>
					<%= navigationLink "downtimes", "Downtimes" %>
				</div>
				<div class="topbutton-sectionspacer">
				</div>
				<div id="adminsubnavigation">
					<div id="adminnotice">
						Admin
					</div>
					<div class="admintopbutton">
						<%= navigationLink "setup", "Setup" %>
					</div>
					<div class="admintopbutton">
						<%= navigationLink "logmessages", "Log" %>
					</div>
					<div class="admintopbutton">
						<%= navigationLink "vitals", "Vitals" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="maincontent">
		<noscript>
			<div id="enablejs">
				You must enable JavaScript to get full functionality
			</div>
		</noscript>
		
		<%= getServerNotRunningMessage  %>

		<div id="flash-notice" style="display: none;"><%= flash[:notice] %></div>

		<div id="flash-error" style="display: none;"><%= flash[:error] %></div>
		
		<script type="text/javascript">
			noticediv = document.getElementById("flash-notice").innerHTML;
			errordiv = document.getElementById("flash-error").innerHTML;
			if(noticediv != "")
				Effect.toggle('flash-notice', 'appear', { delay: 0.0, duration: 3.0 });
			if(errordiv != "")
				Effect.toggle('flash-error', 'appear', { delay: 0.0, duration: 3.0 });
		</script>

		<%= yield %>

	</div>
	<div id="footer">
		ScopePort is free software. (Free as in &raquo;free speech&laquo;)
		<br>
		Page generated in 0.080 seconds.
	</div>
</div>
</body>
</html>
