<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'
   'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
	<title>ScopePort Web Interface</title>
	<%= stylesheet_link_tag "core" %>
	<%= stylesheet_link_tag "sections" %>
	<%= javascript_include_tag "scopeport" %>
	<%= javascript_include_tag "prototype" %>
	<%= javascript_include_tag "effects" %>
</head>
<body>
  <%= yield %>
</body>
</html>
