<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'
   'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
	<title>ScopePort Web Interface</title>
	<%= stylesheet_link_tag "core" %>
	<%= stylesheet_link_tag "sections" %>
	<%= javascript_include_tag "scopeport" %>
	<%= javascript_include_tag "prototype" %>
	<%= javascript_include_tag "effects" %>
</head>
<body>
	<div id="flash-notice" style="display: none;"><%= flash[:notice] %></div>
	<div id="flash-error" style="display: none;"><%= flash[:error] %></div>
	<script type="text/javascript">
		noticediv = document.getElementById("flash-notice").innerHTML;
		errordiv = document.getElementById("flash-error").innerHTML;
		if(noticediv != "")
			Effect.toggle('flash-notice', 'appear', { delay: 0.0, duration: 3.0 });
		if(errordiv != "")
			Effect.toggle('flash-error', 'appear', { delay: 0.0, duration: 3.0 });
	</script>
  <%= yield %>
</body>
</html>
